#screenDiv{
    width:100vw;
    height:100vh; 
}

.divHomeScreen{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divMainScreen{
    background-color: rgb(66, 193, 15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#browseDiv{
    width: 300px;
    height: 300px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#addRecipeDiv{
    width: 300px;
   height: 300px;
    background-color: rgb(223, 17, 17);
}
#shoppingListDiv{
    width: 300px;
    height: 300px;
    background-color: rgb(115, 83, 155);
    display: flex;
    justify-content: center;
    align-items: center;
}
#favoritesList{
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.divBrowseScreen{
    background-color:rgb(62, 38, 158) ;
}
#displayDiv{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}